@font-face {
    font-family: vazir;
    src: url("fonts/Vazir.eot");
    src: url("fonts/Vazir.woff") format("woff"),
      url("fonts/Vazir.otf") format("opentype");
  }
  * {
    direction: rtl;
    font-family: "vazir", Arial, sans-serif;
    font-weight: normal;
  }
  
.header-searchbox{
    width: 50%;
    height: 50%;
    background-color: white!important;
}
.text-right{
    text-align: right;
}

#nav-tabContent{
    background-color: white !important;
}

.nav-tabs .nav-link{
    background-color: #d1d1d1 !important;
    color: gray;
    width: 6.5rem;
}

.nav-tabs .nav-link.active{
    background-color: white;
}

