@font-face {
  font-family: vazir;
  src: url("fonts/Vazir.eot");
  src: url("fonts/Vazir.woff") format("woff"),
    url("fonts/Vazir.otf") format("opentype");
}
* {
  direction: rtl;
  font-family: "vazir", Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;  
}

.primary-color {
  color: blueviolet;
}
.header-searchbox{
  width: 50%;
  height: 50%;
  background-color: white!important;
}
.text-right{
  text-align: right;
}

#nav-tabContent{
  background-color: white !important;
}

.nav-tabs .nav-link{
  background-color: #d1d1d1 !important;
  color: gray;
  width: 6.5rem;
}

.nav-tabs .nav-link.active{
    background-color: white!important;
}

footer{
  height: 200px;
}
.footer-icons{
  display: flex;
  justify-content: center;
}
.footer-icons a{
  margin: 0 15px;
  color: gray;
  font-size: 15px;
}
.footer-links{
  display: flex;
  justify-content: space-between;
}

.footer-links a{
  margin: 0 15px;
  color: gray;
  font-size: 18px;
  text-decoration: none;

}