@font-face {
    font-family: vazir;
    src: url("fonts/Vazir.eot");
    src: url("fonts/Vazir.woff") format("woff"),
      url("fonts/Vazir.otf") format("opentype");
  }
  * {
    direction: rtl;
    font-family: "vazir", Arial, sans-serif;
    font-weight: normal;
  }
  
.header-searchbox{
    width: 50%;
    height: 50%;
    background-color: white;
}
.text-right{
    text-align: right;
}

#nav-tabContent{
    background-color: white;
}

.nav-tabs .nav-link{
    background-color: #d1d1d1;
    color: gray;
    width: 6.5rem;
}

.nav-tabs .nav-link.active{
    background-color: white;
}

/* navbar css */
.site-nav{
    background-color: #76a33e;
    height: 64px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-user-text{
    font-size: 1.5rem;
    line-height: 2.5rem;
}