/* just for large dispalys */
@media (min-width: 992px) { 
  .container {
    max-width: 60% !important;
  }
 }

.site-nav {
  background-color: transparent;
  height: auto;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.logo {
  font-size: 2rem;
}
header {
  background-image: url("https://picsum.photos/1500/300");
  background-color: white;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .card-img-top {
  width: 200px;
}

#start{
  width: 100%;
  min-height: -webkit-fill-available;
}

#questions{
  height: calc(100vh - calc(100vh - 100%));
  padding: 3rem;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
}


#download{ 
  display: flex;
  align-items: center;
  padding: 3rem;
}
#thoughts{
  padding-top: 5rem;
  display: flex;
  align-items: center;
  background-color: #F9F9F9;
}
#managers{
  background: rgb(157,79,188);
  background: radial-gradient(at top left, rgba(157,79,188,1) 0%, rgba(110,72,171,1) 100%);
  color: white;
  padding: 2rem;
}

#partners{
  padding-top: 5rem;
  display: flex;
  align-items: center;
  background-color: #F9F9F9;
}
.hero-text-head {
  font-weight: bold;
  color: blueviolet;
}
.hero-text-par {
  color: gray;
}

.half-circle {
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid blueviolet;
  border-bottom: 0;
}
.card {
  width: 15rem;
}
.card-text {
  font-size: 14px;
  text-align: center;
}


.offer-block h1,
.offer-block p {
  font-weight: bold;
}

.horz-card-icon {
  font-size: 50px;
}
hr {
  width: 40px;
  margin: 10px auto !important;
}
.section-title {
  font-weight: bold;
  color: #949090;
}
.card-footer{
  background-color: white !important;
  text-align: center;
  border-top: none !important;
}
.card-footer i{
  font-size: 1.5rem;
}
.card-img-profile {
  align-self: center;
  border-radius: 50% !important;
  width: 100px !important; height: 100px;
  transform: translateY(-50%);
}

.awards{
  padding-top: 7rem;
  display: flex;
  justify-content: center;
}
.thoughts-section{
  margin-top: 5rem !important;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#button {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-size: 2rem;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 576px) { 
  #questions{
    height: auto;
    padding: 0;
  }
  #downloads{
    padding: 0.75rem;
  }
  .download-img{
    width: 75%;
  }
 }