


.header{
    background-image: url("https://picsum.photos/1500/300");
    background-color: red;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
}


main .card-img-top{
    height: 200px;
    /* width: 87%; */
}

.rounded-4{
    border-radius: 1.5rem;
}

main .btn{
    /* height: 41%; */
    color: white;
    /* font-weight: 500; */
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 11.5rem;
}
