.nav-item{
    height: 55px;
    width: 100%;
}

.nav-item a{
    background-color: white;
    color: black;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a.active{
    background-color: white!important;
    color: black!important;
    border-color: #76a33e!important;
    border-bottom-width: 6px!important;
    border-top-width: 0!important;
    border-right-width: 0!important;
    border-left-width: 0!important;
    border: solid;
    border-radius: 0;
}

.nav-item .nav-link:hover{
    color: #76a33e!important;
}
.nav-item .nav-link.active:hover{
    color: black!important;
}

/* navbar css */
.site-nav{
    background-color: #76a33e;
    height: 64px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-user-text{
    font-size: 1.5rem;
    line-height: 2.5rem;
    background-color: white !important;
}

.dir-ltr{
    direction: ltr;
}
#form-sections .input-group{height: 2.5rem;}

#form-sections .input-group *{
    border: 0;
    background-color: white;
    
}

#form-sections{
    margin-top: 3rem;
}

body{
    background-color: #ebebeb!important;
}


#login-btn{
    background-color: #76a33e;
    border: 0;
}

a{
    color: #808080;
}


.form-input .form-control{
    padding-right: 2.3rem;
    border: 0;
}

.form-input .form-control:hover + .form-input-icon{
    color:#e68a01;
}

.form-input .form-input-icon{
    position: relative;
    top: -1.8rem;
    left: -0.7rem;
}

.form-check{
    direction: rtl;
    text-align: right;
}

.form-check .form-check-input{
    float: none;
    margin-left: 0.8rem;
}

.form-check a{
    color: #0d6efd;
    text-decoration: none;
}

.form-check-input:checked {
    background-color: #e68a01;
    border-color: #e68a01;
}

#login-btn:hover{
    background-color: #e68a01;
    border-color: #e68a01;
}

#register-btn:hover{
    background-color: #e68a01;
    border-color: #e68a01;
}

#register-btn{
    background-color: #76a33e;
    border-color: #76a33e;
}
