
/* navbar css */
.site-nav{
    background-color: #76a33e;
    height: 64px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-user-text{
    font-size: 1.5rem;
    line-height: 2.5rem;
    background-color: white !important;
}

.header{
    background-image: url("https://picsum.photos/1500/300");
    background-color: red;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
}


main .card-img-top{
    height: 200px;
    /* width: 87%; */
    overflow: hidden;
    position: relative;
}

.rounded-4{
    border-radius: 1.5rem;
}

main .btn{
    /* height: 41%; */
    color: white;
    /* font-weight: 500; */
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 11.5rem;
}


body{
    background-color: #ebebeb;
}

.btn-success{
    background-color: #3ca853;
    border-color: #3ca853;
}

.btn-warning{
    background-color: #e69c3b;
    border-color: #e69c3b;
}
.video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.2);
}
.video.paused + .paused-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: block!important;
}

.video + .paused-icon{
    display: none;
}

.card-img-top.hover {
    cursor: pointer;
}